// Primary Color
$Primary50: #E8F4FC;
$Primary100: #D2E9F9;
$Primary200: #A5D3F3;
$Primary300: #79BEEC;
$Primary400: #4CA8E6;
$Primary500: #1F92E0;
$Primary600: #1975B3;
$Primary700: #135886;
$Primary800: #0C3A5A;
$Primary900: #061D2D;

// Neutral Color
$Neutral100: #FFFFFF;
$Neutral200: #F5F5F5;
$Neutral300: #E0E0E0;
$Neutral400: #BDBDBD;
$Neutral500: #9E9E9E;
$Neutral600: #757575;
$Neutral700: #424242;
$Neutral800: #212121;
$Neutral900: #000000;

// Secondary Color
$Secondary50: #FDEEE6;
$Secondary100: #FBD4C0;
$Secondary200: #F8B796;
$Secondary300: #F59A6C;
$Secondary400: #F27D42;
$Secondary500: #F06E2D;
$Secondary600: #C05824;
$Secondary700: #90421B;
$Secondary800: #602C12;
$Secondary900: #301609;

// Warning Color
$Warning50: #FEF6E7;
$Warning100: #FDEDCE;
$Warning200: #FBDC9D;
$Warning300: #F9CA6C;
$Warning400: #F7B93B;
$Warning500: #F5A70A;
$Warning600: #C48608;
$Warning700: #936406;
$Warning800: #624304;
$Warning900: #312102;

//font
$fontFamily: Inter, "Helvetica Neue", sans-serif;